{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/legal.css' %}">
{% endblock %}

{%block title %}League of Leguends{% endblock %}
{% block content %}
    <div class="content">
        <h1>Política de cookies</h1>
        En la web https://wikigames.com (en adelante, el Sitio Web) utilizamos cookies para facilitar la relación de los visitantes con nuestro contenido y para permitir elaborar estadísticas sobre las visitantes que recibimos.

        Le informamos que podemos utilizar cookies con la finalidad de facilitar su navegación a través del Sitio Web, distinguirle de otros usuarios, proporcionarle una mejor experiencia en el uso del mismo, e identificar problemas para mejorar nuestro Sitio Web.
        <h2>¿Qué Son Las Cookies?</h2>
        Se denominan cookies a unos pequeños archivos que se graban en el navegador utilizado por cada visitante de nuestra web para que el servidor pueda recordar la visita de ese usuario con posterioridad cuando vuelva a acceder a nuestros contenidos. Esta información no revela su identidad, ni dato personal alguno, ni accede al contenido almacenado en su pc, pero sí que permite a nuestro sistema identificarle a usted como un usuario determinado que ya visitó la web con anterioridad, visualizó determinadas páginas, etc. y además permite guardar sus preferencias personales e información técnica.

        En cumplimiento de la Directiva 2009/136/CE, desarrollada en nuestro ordenamiento por el apartado segundo del artículo 22 de la LSSI, siguiendo las directrices de la AEPD, procedemos a informarle detalladamente del uso que se realiza en nuestra web.
        A continuación, se realiza una clasificación de las cookies en función de una serie de categorías. No obstante es necesario tener en cuenta que una misma cookie puede estar incluida en más de una categoría.
        <h2>Tipos De Cookies Según La Entidad Que Las Gestiona</h2>
        <ul>
            <li>Cookies propias: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor.</li>
            <li>Cookies de terceros: Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos.</li>
        </ul>
        <h2>Tipos De Cookies Según El Plazo De Tiempo Que Permanecen Activas</h2>
        <ul>
            <li>Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web.</li>
            <li>Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.</li>
        </ul>
        <h2>Tipos De Cookies Según Su Finalidad</h2>
        <ul>
            <li>Cookies técnicas: Aquellas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan.</li>
            <li>Cookies de personalización: Son aquellas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario.</li>
            <li>Cookies publicitarias: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web.</li>
            <li>Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</li>
            <li>Cookies de análisis: Son aquellas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.</li>
        </ul>
        Actualmente, la mayoría de los navegadores vienen configurados por defecto para bloquear la instalación de cookies de publicidad o terceros en su equipo. El usuario puede ampliar las restricciones de origen, impidiendo la entrada de cualquier tipo de cookie, o eliminar dichas restricciones, aceptando la entrada de cualquier tipo de cookies. Si está interesado en admitir cookies de publicidad o de terceros, podrá configurar su navegador a tal fin.
        La aceptación realizada por el usuario, haciendo click en el botón de ACEPTAR mostrado en la información inicial sobre cookies, implica que está consintiendo expresamente al responsable para su utilización, pudiendo ejercer sus derechos y revocar su consentimiento en cualquier momento, a través de solicitud a Clásicos Motor Club.

        A continuación, le informamos detalladamente todas las cookies que podrían llegar a instalarse desde nuestro sitio web. En función de su navegación, de la configuración de su navegador y de la aceptación o rechazo de las mismas, podrán instalarse todas o sólo algunas de ellas.
       
        Es posible que actualicemos la Política de Cookies de nuestro Sitio Web, por ello le recomendamos revisar esta política cada vez que acceda a nuestro Sitio Web con el objetivo de estar adecuadamente informado sobre cómo y para qué usamos las cookies.

        Si usted no desea que se guarden cookies en su navegador o prefiere recibir una información cada vez que una cookie solicite instalarse, puede configurar sus opciones de navegación para que se haga de esa forma. La mayor parte de los navegadores permiten la gestión de las cookies de 3 formas diferentes:
        <ul>
            <li>Las cookies son siempre rechazadas</li>
            <li>El navegador pregunta si el usuario desea instalar cada cookie</li>
            <li>Las cookies son siempre aceptadas</li>
        </ul>
        Su navegador también puede incluir la posibilidad de seleccionar con detalle las cookies que desea que se instalen en su ordenador. En concreto, el usuario puede normalmente aceptar alguna de las siguientes opciones:
        <ul>
            <li>Rechazar las cookies de determinados dominios;</li>
            <li>Rechazar las cookies de terceros;</li>
            <li>Aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra);</li>
            <li>Permitir al servidor crear cookies para un dominio diferente.</li>
        </ul>
        Para permitir, conocer, bloquear o eliminar las cookies instaladas en su equipo puede hacerlo mediante la configuración de las opciones del navegador instalado en su ordenador.
        Puede encontrar información sobre cómo configurar los navegadores más usados en las siguientes ubicaciones:
        <ul>
            <li>Internet Explorer: Herramientas -&gt; Opciones de Internet -&gt; Privacidad -&gt; Configuración. Para más información, puede consultar el soporte de Microsoft o la Ayuda del navegador.</li>
            <li>Firefox: Herramientas -&gt; Opciones -&gt; Privacidad -&gt; Historial -&gt; Configuración Personalizada. Para más información, puede consultar el soporte de Mozilla o la Ayuda del navegador.</li>
            <li>Chrome: Configuración -&gt; Mostrar opciones avanzadas -&gt; Privacidad -&gt; Configuración de contenido. Para más información, puede consultar el soporte de Google o la Ayuda del navegador.</li>
            <li>Safari: Preferencias -&gt; Seguridad. Para más información, puede consultar el soporte de Apple o la Ayuda del navegador.</li>
        </ul>
    </div>

{% endblock %}



