{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
        <link rel="stylesheet" type="text/css" href="{% static 'league/styles/login.css' %}">
{% endblock %}

{%block title %}Crear un post{% endblock %}
{% block content %}
    <div class="user_data">
        <h1>Crear post</h1>
    </div>
    <div class="form-post">
        <form action="" method="post">
            {% csrf_token %}
            <!-- {% for field in form %}
                    {{field.label}}
                    {{field}} 
                    <br>  
            {% endfor %}
            <br> -->
            <!-- {%for item in items%}
                    
            <img src="/media/imagen/league/item/{{item}}" alt="{{item}}">
            
            {% endfor %} -->
            <div class="mb-3">
                <label for="rune1" >Runa 1:</label>
                <select name="rune1" id="rune1">
                    {%for item in items%}
                    <option value="{{item}}">
                        <img src="/media/imagen/league/item/{{item}}" alt="{{item}}" height="20" width="20">
                    </option>
                    {% endfor %}
                </select>
                <label for="rune2" >Runa 1:</label>
                <select name="rune2" id="rune1">
                    {%for item in items%}
                    <option style="background-image:url(/media/imagen/league/item/{{item}});">{{item}}</option>
                    {% endfor %}
                </select>
                <label for="rune3" >Runa 1:</label>
                <select name="rune1" id="rune1">
                    {%for item in items%}
                    <option style="background-image:url(/media/imagen/league/item/{{item}});">{{item}}</option>
                    {% endfor %}
                </select>
                <label for="rune4" >Runa 1:</label>
                <select name="rune4" id="rune1">
                    {%for item in items%}
                    <option style="background-image:url(/media/imagen/league/item/{{item}});">{{item}}</option>
                    {% endfor %}
                </select>
                <label for="rune5" >Runa 1:</label>
                <select name="rune5" id="rune1">
                    {%for item in items%}
                    <option style="background-image:url(/media/imagen/league/item/{{item}});">{{item}}</option>
                    {% endfor %}
                </select>
                <label for="rune6" >Runa 1:</label>
                <select name="rune6" id="rune1">
                    {%for item in items%}
                    <option style="background-image:url(/media/imagen/league/item/{{item}});">{{item}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Create Post">
        </form>
    </div>
    <div class="errors">
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor%}  
    </div>  
    {%comment%}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="rune1">
            from       
        </label>
        <br>
        <input type="submit" value="Acceder">
    </form>
        runes1         = models.CharField(max_length=200)
        runes2         = models.CharField(max_length=200)
        runes3         = models.CharField(max_length=200)
        runes4         = models.CharField(max_length=200)
        runes5         = models.CharField(max_length=200)
        runes6         = models.CharField(max_length=200)
        keystone       = models.CharField(max_length=200)
        items1         = models.CharField(max_length=200)
        items2         = models.CharField(max_length=200)
        items3         = models.CharField(max_length=200)
        items4         = models.CharField(max_length=200)
        items5         = models.CharField(max_length=200)
        items6         = models.CharField(max_length=200)
        summoner_spells1 = models.CharField(max_length=200)
        summoner_spells2 = models.CharField(max_length=200)
    {%endcomment%}
{% endblock %}

