{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/index.css' %}">
    <script src="{% static 'league/js/index.js' %}" defer></script>
{% endblock %}
{%block title %}League of Leguends{% endblock %}
{% block content %}
    {% if  user.is_anonymous%}
        <h1 class="user_hello">Inicia sesión</h1>
    {% else %}
        <h1 class="user_hello"> ¡Hola {{request.user}}!</h1>
    {% endif %}
    <div class="search_champion" id="search_champion">
        <input type="text" name="" id="championKey" placeholder="Busca a tu campeón" onkeyup="championSearch()">
        <i class="fas fa-search fa-spin fa-lg"></i>
    </div>
    <div class="content">
        <div class="users_list">
            <h2 class="title-users">Últimos WikGi</h2>
            <div class="users">
                {% for user in users %}
                    <a href="{% url 'user' user.nb_user %}">
                        <img src="{{user.photo_user.url}}" alt="foto de {{user.nb_user}}" width="40" class="champion-img">
                    </a>
                {% endfor %}
            </div>
       </div>
    
        <div class="list_champions" id="list_champions">
            {% for champion in champions %}
            <div class="champion">
                <a href="{% url 'detail' champion.name %}"><img src="{{champion.image.url}}" alt="{{champion.name}}"></a>
                <input type="hidden" name="champion" value="{{champion.name}}">
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
