{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/index.css' %}">
    <script src="{% static 'league/js/index.js' %}" defer></script>
{% endblock %}

{%block title %}League of Leguends{% endblock %}
{% block content %}
    {% if  user.is_anonymous%}
        <h1 class="user_hello">Inicia sesion</h1>
    {% else %}
        <h1 class="user_hello">Hola {{request.user}} </h1>
    {% endif %}
    
    <br>
    <!-- <div class="search_champion" id="search_champion">
        <input type="text" name="" id="championKey" placeholder="Busca un campeón" onkeyup="championKey()">
        <a>
            <svg class="search-icon" role="img">
                <g class="search-path" fill="none" stroke="#848F91">
                    <path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/>
                    <circle cx="8" cy="8" r="7"/>
                </g>
            </svg>
          </a>
    </div> -->
    <div class="content">
        
        <div class="users_list">
            <h2>Nuestra comunidad</h2>
           <div class="users">
                {% for user in users %}
                <!-- parametros: 'nombre url' la variable del modelo, en este caso de la api el modelo Champion  -->
                    <img src="{{user.photo_user.url}}" alt="foto de {{user.nb_user}}" width="40">
                {% endfor %}
           </div>
       </div>
    
        <div class="list_champions" id="list_champions">
            <div class="champions">
            {% for champion in champions %}
                <!-- parametros: 'nombre url' la variable del modelo, en este caso de la api el modelo Champion  -->
                <a href="{% url 'detail' champion.name %}"><img src="{{champion.image.url}}" alt="{{champion.name}}"></a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
