{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/index.css' %}">
{% endblock %}

{%block title %}League of Leguends{% endblock %}
{% block content %}

    <div class="list_champions" id="list_champions">
              
        
        {% for post in posts %}
            <!-- parametros: 'nombre url' la variable del modelo, en este caso de la api el modelo Champion  -->
            <span>{{post.user_post}}</span>
            <span>{{post.champion}}</span>
            <span>{{post.tittle_post}}</span>
            <span>{{post.runes1}}</span>
            <span>{{post.runes2}}</span>
            <span>{{post.runes3}}</span>
            <br>
        {% endfor %}
    </div>
{% endblock %}