{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/legal.css' %}">
{% endblock %}

{%block title %}League of Leguends{% endblock %}
{% block content %}
    <div class="content">
        <h1>Política de privacidad</h1>
        <p> En cumplimiento del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al   tratamiento de datos personales, por el que se deroga la directiva 95/46/CE (en adelante, RGPD), de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y comercio electrónico (en adelante, LSSI-CE) y de la Ley Orgánica 3/2018, de Protección de Datos Personales y garantía de los derechos digitales (en adelante, LOPDGDD), WikiGames garantiza la protección y confidencialidad de los datos personales, de cualquier tipo que nos proporcionen nuestros clientes, de acuerdo con lo dispuesto en el Reglamento General de Protección de Datos de Carácter Personal.
        <br>
        Los datos facilitados serán tratados en los términos establecidos en el RGPD, en ese sentido WikiGames ha adoptado los niveles de protección que legalmente se exigen, y ha instalado todas las medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado por terceros, expuestos a continuación. No obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.</p>
        <h2>Responsable Del Tratamiento</h2>
        <p>Denominación: WikiGames
            <br>
            Correo electrónico: wikigamesfct@gmail.com</p>
        <h2>Finalidad Del Tratamiento</h2>
       <p> Todos los datos facilitados por nuestros clientes y/o visitantes en la web de Clásicos Motor Club o a su personal, serán incluidos en registro de actividades de tratamiento de datos de carácter personal, creado y mantenido bajo la responsabilidad de Clásicos Motor Club, imprescindibles para prestar los servicios solicitados por los usuarios, o para resolver las dudas o cuestiones planteadas por nuestros visitantes. Nuestra política es no elaborar perfiles sobre los usuarios de nuestros servicios.</p>
        <h2>Legitimidad Del Tratamiento</h2>
        <ol>
            <li>Relación contractual: Es la que aplica cuando compra uno de nuestros productos o contrata alguno de nuestros servicios.</li>
            <li>Interés legítimo: Para atender a las consultas y reclamaciones que nos plantee y para gestionar el cobro de las cantidades adeudadas.</li>
            <li>Su consentimiento: Si es usuario de nuestra web, mediante la marcación de la casilla que figura en el formulario de contacto, nos autoriza a que le remitamos las comunicaciones necesarias para dar respuesta a la consulta o solicitud de información planteada.</li>
        </ol>
        <h2>Destinatarios</h2>
        No cedemos sus datos personales a nadie, a excepción de aquellas entidades públicas o privadas a las cuales estemos obligados a facilitar sus datos personales con motivo del cumplimiento de alguna ley. Por poner un ejemplo, la Ley Tributaria obliga a facilitar a la Agencia Tributaria determinada información sobre operaciones económicas que superen una determinada cantidad.
        En el caso de que, al margen de los supuestos comentados, necesitemos dar a conocer su información personal a otras entidades, le solicitaremos previamente su permiso a través de opciones claras que le permitirán decidir a este respecto.
        <h2>Comunicación</h2>
        No realizaremos transferencias internacionales de sus datos personales para ninguna de las finalidades indicadas.
        <h2>Conservación</h2>
        Solo conservaremos sus datos personales durante el tiempo que resulte necesario para lograr los fines para los que fueron recabados. A la hora de determinar el oportuno periodo de conservación, examinamos los riesgos que conlleva el tratamiento, así como nuestras obligaciones contractuales, legales y normativas, las políticas internas de conservación de datos y nuestros intereses de negocio legítimos descritos en el presente Aviso de Privacidad y Política de Cookies.
        En este sentido, Clásicos Motor Club conservará los datos personales una vez terminada su relación con Ud., debidamente bloqueados, durante el plazo de prescripción de las acciones que pudieran derivarse de la relación mantenida con el interesado.
        Una vez bloqueados, sus datos resultarán inaccesibles para Clásicos Motor Club, y no serán tratados excepto para su puesta a disposición a las Administraciones públicas, Jueces y Tribunales, para la atención de las posibles responsabilidades nacidas de los tratamientos, así como para el ejercicio y defensa de reclamaciones ante la Agencia Española de Protección de Datos.
        <h2>Seguridad</h2>
        Empleamos todos los esfuerzos razonables para mantener la confidencialidad de la información personal que se trate en nuestros sistemas. Mantenemos estrictos niveles de seguridad para proteger los datos de carácter personal que procesamos frente a pérdidas fortuitas y a accesos, tratamientos o revelaciones no autorizados, habida cuenta del estado de la tecnología, la naturaleza y los riesgos a que están expuestos los datos. No obstante, no podemos responsabilizarnos del uso que Ud. haga de los datos (incluido usuario y contraseña) que utilice en nuestra web. Nuestro personal sigue estrictas normas de privacidad y en el caso de que contratemos a terceros para prestar servicios de soporte, les exigimos que acaten las mismas normas y nos permitan auditarles para verificar su cumplimiento.
        <h2>Sus Derechos</h2>
        Le informamos que podrá ejercer los siguientes derechos:
        <ol>
            <li>Derecho de acceso a sus datos personales, para saber cuáles están siendo objeto de tratamiento y las operaciones de tratamiento llevadas a cabo con ellos;</li>
            <li>Derecho de rectificación de cualquier dato personal inexacto;</li>
            <li>Derecho de supresión de sus datos personales, cuando esto sea posible (por ejemplo, por imperativo legal);</li>
            <li>Derecho de limitación del tratamiento de sus datos personales cuando la exactitud, la legalidad o la necesidad del tratamiento de los datos resulte dudosa, en cuyo caso, podremos conservarlos para el ejercicio o la defensa de reclamaciones.</li>
            <li>Derecho de oposición al tratamiento de sus datos personales, cuando la base legal que nos habilite para su tratamiento de las indicadas sea nuestro interés legítimo. Clásicos Motor Club dejará de tratar tus datos salvo que tenga un interés legítimo o sea necesario para la defensa de reclamaciones.</li>
            <li>Derecho a la portabilidad de sus datos, cuando la base legal que nos habilite para su tratamiento sea la existencia de una relación contractual o su consentimiento.</li>
            <li>Derecho a revocar el consentimiento otorgado a Clásicos Motor Club.</li>
        </ol>
        Para ejercitar sus derechos, puede hacerlo de manera gratuita y en cualquier momento contactando con nosotros en la dirección Rúa San Roque, 41, 36780 A Gándara, Pontevedra, adjuntando copia de su DNI.
        <h2>Tutela De Derechos</h2>
        En caso de que entienda que sus derechos han sido desatendidos por nuestra entidad, puede formular una reclamación en la Agencia Española de Protección de Datos, a través de alguno de los medios siguientes:
        <ul>
            <li>Sede electrónica: https://www.aepd.es</li>
            <li>Correo postal: Agencia Española de Protección de Datos, C/ Jorge Juan, 6, 28001, Madrid</li>
            <li>Teléfono: 901.100.099 y 912.663.517</li>
        </ul>
        Formular una reclamación en la Agencia Española de Protección de Datos no conlleva ningún coste y no es necesaria la asistencia de abogado ni procurador.
        <h2>Actualizaciones</h2>
        Clásicos Motor Club se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales que puedan afectar el cumplimiento de la misma.
    </div>
{% endblock %}
