{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/login.css' %}">

{% endblock %}

{%block title %}League of Leguends{% endblock %}
{% block content %}
   
    <div class="user_data">
        <h1>Registro</h1>
        <form action="" method="post">
            {% csrf_token %}
                {% for field in form %}
                    {{field.label}}
                    {{field}} 
                    <br>  
                {% endfor %}
            <br>
            <input type="submit" value="Create User">
        </form>
    </div>
    <div class="errors">
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor%}  
    </div>  

        
   
{% endblock %}