{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/reset_password.css' %}">
{% endblock %}

{%block title %}Datos contraseña{% endblock %}
{% block content %}
<div class="form_password">
    <h1>Nueva contraseña</h1>
    <p>Introduce la nueva contraseña dos veces para verificar los datos correctamente.</p>
    <p>La nueva contraseña debe ser diferente a la anterior.</p>
    <br>
    <form action="" method="post">
            {% csrf_token %}
            {% for input in form%}
                <label for="input"> Nueva contraseña: 
                    {{input}}
                </label>  
                <br>
            {%endfor%}
            <!-- {{ form }} -->
            
            <input type="submit" value="Enviar" name="Update Password">
    </form>
</div>
{% endblock %}