{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/reset_password.css' %}">
{% endblock %}

{%block title %}Datos contraseña{% endblock %}
{% block content %}
<h1>Nueva contraseña</h1>
<div class="form_password">
    <img src="/media/imagen/users/password_image.png" alt="imagen de una cerradura" class="img">
    <p class="color-text">Introduce la nueva contraseña dos veces para verificar los datos correctamente.</p>
    <p class="color-text">La nueva contraseña debe ser diferente a la anterior.</p>
    <form action="" method="post">
        {% csrf_token %}
        <label for="new_password1">Nueva contraseña:
            <input type="password" name="new_password1" autocomplete="new-password" required="required" id="id_new_password1">
        </label>          
        <label for="new_password2">Repetir contraseña:
            <input type="password" name="new_password2" autocomplete="new-password" required="required" id="id_new_password2">
        </label>       
        
        <input type="submit" value="Enviar" name="Update Password">
    </form>
</div>
{% endblock %}