{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/reset_password.css' %}">
    {% endblock %}
{%block title %}Reset_password{% endblock %}
{% block content %}

<div class="form_password">
    <h1>Reiniciar contraseña</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Enviar" name="Update Password">
    </form>
</div>

{% endblock %}