{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/reset_password.css' %}">    
{% endblock %}

{%block title %}Envio de correo{% endblock %}
{% block content %}
<h1>Correo enviado</h1>
<div class="form_password">
    <img src="/media/imagen/users/profile_menu.png" alt="imagen de una usuario" class="img">
    <p class="color-text">EL correo ha sido enviado, acceda al link enviado en el correo y rellene los datos para inicie sesión.</p>
    <a href="{% url 'login'%}">Iniciar sesión</a>
</div>
{% endblock %}