{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
<link rel="stylesheet" type="text/css" href="{% static 'league/styles/reset_password.css' %}">    
{% endblock %}

{%block title %}Volver al inicio{% endblock %}
{% block content %}
<div class="form_password">
    <img src="/media/imagen/users/password_image.png" alt="imagen de una cerradura" class="img">
    <p class="color-text">¡La contraseña ha sido actualizada! Accede ahora al siguiente link para iniciar sesión de nuevo.</p>
    <a href="{% url 'login'%}">Volver a iniciar sesión</a>
</div>
{% endblock %}