{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/reset_password.css' %}">
    {% endblock %}
{%block title %}Cambiar contraseña{% endblock %}
{% block content %}
<h1>Reiniciar contraseña</h1>
<div class="form_password">
    <img src="/media/imagen/users/password_image.png" alt="imagen de una cerradura" class="img">
    <p class="color-text">Nos importa tu privacidad asi que te mandaremos un correo para que puedas acceder a una nueva página donde puedas cambiar tu contraseña</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Enviar" name="Update Password">
    </form>
</div>

{% endblock %}