

{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} 
        <link rel="stylesheet" type="text/css" href="{% static 'league/styles/user_public.css' %}">
{% endblock %}

{%block title %} {{user.nb_user}} {% endblock %}
{% block content %}
    <div class="user_admin">
        <div class="data_user">
            <div class="data-img">
                <img src="{{user.photo_user.url}}" alt="foto de {{user.nb_user}}">
            </div>
            <div class="data">
                <h2> {{user.nb_user}}</h2>
                <h4><i>"{{user.nick_name_user}}"</i></h4>
                <p>Date joined: {{user.date_joined_user}}</p>
                <div class="private-data">
                    {% if currentUser.user == user %}
                    <p><a href=" {% url 'accountsettings'%} ">Configurar mi cuenta</a></p>
                    <p><a href="{% url 'logout'%}">Log out</a></p>
                    <p><a href="{% url 'reset_password'%}">Reset my password</a></p>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    {% if posts %}
    <div class="posts_list">
        <h3>Posts de {{user.nb_user}}</h3>
        {% for post in posts %}
            <div class="post">
                <div class="header-post">
                    <!-- parametros: 'nombre url' la variable del modelo, en este caso de la api el modelo Champion  -->
                        {% for champion in champions %}
                            {% if champion.name ==  post.champion %}
                                <a href="{% url 'detail' champion.name %}"><img src="{{champion.image.url}}" alt="{{champion.name}}" class="item"></a>
                            {% endif %} 
                        {% endfor %}
                    <h2>{{post.tittle_post}}</h2>
                </div>
                <div class="content-post">
                    <img src="/media/imagen/league/item/{{post.items1}}" alt="{{post.items1}}" class="item">
                    <img src="/media/imagen/league/item/{{post.items2}}" alt="{{post.items2}}" class="item">
                    <img src="/media/imagen/league/item/{{post.items3}}" alt="{{post.items3}}" class="item">
                    <img src="/media/imagen/league/item/{{post.items4}}" alt="{{post.items4}}" class="item">
                    <img src="/media/imagen/league/item/{{post.items5}}" alt="{{post.items5}}" class="item">
                    <img src="/media/imagen/league/item/{{post.items6}}" alt="{{post.items6}}" class="item">
                    <img src="/media/imagen/league/summoner_spells/{{post.summoner_spells1}}" alt="{{post.summoner_spells1}}" class="item">
                    <img src="/media/imagen/league/summoner_spells/{{post.summoner_spells2}}" alt="{{post.summoner_spells2}}" class="item">
                    <img src="{{post.keystone}}" alt="{{post.keystone}}" class="item">
                </div>
            
            </div>    
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
