{%extends 'tfg/base.html'%}  
{%block title %}{{champion.name}} guide{% endblock %}
{% block link %}
    {%load static%} 
        <link rel="stylesheet" type="text/css" href="{% static 'league/styles/detail_champion.css' %}">
        <script src="{% static 'league/js/detail_champion.js' %}" defer></script>
        <script src="https://cdn.canvasjs.com/canvasjs.min.js" defer></script>
    {% endblock %}
{% block content %}
    <h1><b>{{champion.name}}</b></h1>
    <nav class="navbar navbar-expand-sm" style="background-color: var(--link-colorh2); color: var(--headings-color); ">
        <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="30" height="30" fill="white" class="bi bi-justify" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
              </svg>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#profile_section">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilities_section">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#history_section">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#builds_section">Builds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#chart_section">Estadísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#post_section">Crear build</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#wikgi_section">Otras builds</a>
                </li>
            </ul>
           
        </div>
    </nav>
    
    {%comment%}
    {% for skin in champion.skins %}
        {{skin.num}}
    {%endfor%}
    {%endcomment%}

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/imagen/league/skins/{{champion.name|cut:' '}}_0.jpg" alt="{{champion.name}} skin" class="d-block w-100" >
                 <!-- <div class="carousel-caption d-none d-md-block">
                            <p>Description</p>
                        </div> -->
            </div>
            {% for skin_champion in img_champion_skin %}
                {% if champion.name|cut:' ' in  skin_champion and skin_champion != champion.name|cut:' '|add:'_0.jpg'%}
                    <div class="carousel-item">
                        <img src="/media/imagen/league/skins/{{skin_champion}}" alt="{{skin_champion}} skin" class="d-block w-100" >
                        <!-- <div class="carousel-caption d-none d-md-block">
                            <p>Description</p>
                        </div> -->
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   
       
    </div>
    <div class="champion-profile" id="profile_section">
        <div class="champion-icon">
            <img src="/media/imagen/league/champion/{{champion.name|cut:' '}}.png" alt="{{champion.name}} icon">
        </div>
        <div class="champion-title">
            <h1>{{champion.name}}</h1> 
            <h3><i> "{{title.text}}" </i></h3> 
        </div>
    </div>
   
    <h2 id="habilities_section"><b>Habilidades</b></h2>
    <div class="champion-habilities">
        {% for abilitie_champion in img_champion_abilities %}
            {% if champion.name|cut:' ' in  abilitie_champion %}
                <img src="/media/imagen/league/spell/{{abilitie_champion}}" alt="{{abilitie_champion}}" class="item-adjust">
            {% endif %} 
        {% endfor %}
        {% for passive_champion in img_champion_passives %}
            {% if champion.name|cut:' ' in  passive_champion %}
                <img src="/media/imagen/league/passive/{{passive_champion}}" alt="{{passive_champion}}" class="item-adjust">
            {% endif %} 
        {% endfor %}
    </div>
    <div class="champion-history" id="history_section">
        <details> 
            <summary>Historia del personaje</summary>
            {{lore.text}}
        </details>
    </div>
    </div>
    <h2 id="builds_section"><b>Builds aconsejadas</b></h2>
    <div class="champion-items">
        <div class="aram-items">
            <h3>ARAM</h3>
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
        </div>
        <div class="normal-items">
            <h3>Grieta del invocador</h3>
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
            <img src="/media/imagen/league/item/{{img_champion_items|random }}" alt="{{item_champion}}" class="item-adjust">
        </div>
    </div>
    
    <h2 id="chart_section"><b>Estadísticas del campeón</b></h2>
    <div class="data-chart">
        <input type="hidden" name="attack" id="attack" value="{{champion.info.attack}}">
        <input type="hidden" name="defense" value="{{champion.info.defense}}">
        <input type="hidden" name="magic" value="{{champion.info.magic}}">
        <input type="hidden" name="difficulty" value="{{champion.info.difficulty}}">
    </div>
    <div class="champion-chart">
        <div id="chartContainer" class="champion-chart-detail"></div>
    </div>

    <div class="button-post" id="post_section">
        <a href="{% url 'createPost' champion.name %}">Crear mi propia build</a>
    </div>
    <h2 id="wikgi_section"><b>Otras builds de WikGi</b></h2>
    <div class="post">
        {% for post in posts_champion%}
            <div class="post-detail">
                <a href="{% url 'user' post.user_post.nb_user %}" class="radious item-adjust"><img src="/media/{{post.user_post.photo_user}}" alt="{{post.user_post.nb_user}}" class="item-adjust radious"></a>
                <img src="/media/imagen/league/item/{{post.items1}}" alt="{{post.items1}}" class="item-adjust">
                <img src="/media/imagen/league/item/{{post.items2}}" alt="{{post.items2}}" class="item-adjust">
                <img src="/media/imagen/league/item/{{post.items3}}" alt="{{post.items3}}" class="item-adjust">
                <img src="/media/imagen/league/item/{{post.items4}}" alt="{{post.items4}}" class="item-adjust">
                <img src="/media/imagen/league/item/{{post.items5}}" alt="{{post.items5}}" class="item-adjust">
                <img src="/media/imagen/league/item/{{post.items6}}" alt="{{post.items6}}" class="item-adjust">
                <img src="/media/imagen/league/summoner_spells/{{post.summoner_spells1}}" alt="{{post.summoner_spells1}}" class="item-adjust">
                <img src="/media/imagen/league/summoner_spells/{{post.summoner_spells2}}" alt="{{post.summoner_spells2}}" class="item-adjust">
                <img src="{{post.keystone}}" alt="{{post.keystone}}" class="item-adjust">
            </div>
        {% endfor %}
    </div>
        
{% endblock %}
