{%extends 'tfg/base.html'%}  

{% block link %}
    {%load static%} {% endblock %}

{%block title %}{{champion.name}}{% endblock %}
{% block content %}
<div class="champion">
    <h2>{{champion.name}}</h2>
    <img src="{{champion.image.url}}" alt="{{champion.name}}">
    <br>
    <p>ID: {{champion.id}}</p>
    <p>Dificultad: {{champion.info.difficulty}}</p>
    <p>Habilidad pasiva: {{champion.passive.name}}</p>
    <p>Descripcion passiva:{{champion.passive.description}}</p>

    <h3>Hechizos</h3>
        <p></p>
        <img src="/media/imagen/league/spell/{{champion.name|cut:' '}}Q.png" alt="{{champion.name}}R">
        <img src="/media/imagen/league/spell/{{champion.name}}E.png" alt="{{champion.name}}E">
        <img src="/media/imagen/league/spell/{{champion.name}}W.png" alt="{{champion.name}}W">
        <img src="/media/imagen/league/spell/{{champion.name}}R.png" alt="{{champion.name}}R">

        <!-- <img src="http://ddragon.leagueoflegends.com/cdn/13.10.1/img/spell/{{champion_name}}Q.png" alt="{{champion_name}}">
        <img src="http://ddragon.leagueoflegends.com/cdn/13.10.1/img/spell/{{champion_name}}W.png" alt="{{champion.name}}">
        <img src="http://ddragon.leagueoflegends.com/cdn/13.10.1/img/spell/{{champion_name}}R.png" alt="{{champion.name}}"> -->

        <!-- {% for spell in champion.spells%}
        <p> {{spell.name}}</p>
            
        {%endfor%} -->
</div>

<br>
{% for rune in runes%}
    <p>{{rune.name }}</p>
    <img src="{{rune.image.url}}" alt="{{rune.name }}">
{%endfor%}

{% endblock %}