{%extends 'tfg/base.html'%}  
{%block title %}{{champion.name}} guide{% endblock %}
{% block link %}
    {%load static%} 
    <link rel="stylesheet" type="text/css" href="{% static 'league/styles/detail_champion.css' %}">
{% endblock %}


{% block content %}

<div class="champion">
    <div class="champion-profile">
        <img src="/media/imagen/league/champion/{{champion.name|cut:' '}}.png" alt="{{champion.name}} icon">
        <h1>{{champion.name}}</h1>
        <!-- <p>{{champion.name}}</p> -->
    </div>
    <div class="champion-habilities">
        <h3>Habilidades</h3>
        {% for abilitie_champion in img_champion_abilities %}
            {% if champion.name|cut:' ' in  abilitie_champion %}
            <img src="/media/imagen/league/spell/{{abilitie_champion}}" alt="{{abilitie_champion}} ">
            {% endif %} 
        {% endfor %}
        {% for passive_champion in img_champion_passives %}
            {% if champion.name|cut:' ' in  passive_champion %}
            <img src="/media/imagen/league/passive/{{passive_champion}}" alt="{{passive_champion}} ">
            {% endif %} 
        {% endfor %}
        <br> 
        {% comment %} {% for spell in champion.spells%}
        <p> {{spell.name}}</p>    {% endcomment %}
    </div>
    <br>
    <div class="items">
        <h3>Items</h3>
        {% for item_champion in img_champion_items %}
            <img src="/media/imagen/league/item/{{item_champion}}" alt="{{item_champion}}" height="65">
        {% endfor %}
    </div>
    
     <br>
    <div id="carouselExample" class="carousel slide">
        <h3>Skins</h3>  
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/imagen/league/skins/{{champion.name|cut:' '}}_0.jpg" alt="{{champion.name}} skin" class="d-block w-100" >
            </div>
                    
            {% for skin_champion in img_champion_skin %}
                {% if champion.name|cut:' ' in  skin_champion and skin_champion != champion.name|cut:' '|add:'_0.jpg'%}
                    <div class="carousel-item">
                        <img src="/media/imagen/league/skins/{{skin_champion}}" alt="{{skin_champion}} skin" class="d-block w-100" >
                        <!-- <div class="carousel-caption">
                            <h3>{{champion.name}}</h3>
                        </div> -->
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <div class="button-post">
        <a href="{% url 'createPost' champion.name %}">Crear mi propia build</a>
    </div>
</div>


{% comment %} <br>
{% for rune in runes%}
    <p>{{rune.name }}</p>
    <img src="{{rune.image.url}}" alt="{{rune.name }}">
{%endfor%} {% endcomment %}

{% endblock %}