{%extends 'tfg/base.html'%}  
{% load mathfilters %}
{% block link %}
    {%load static%} {% endblock %}

{%block title %}League of Leguends{% endblock %}
{% block content %}
<h2>Ladder</h2>



{% for player in page_obj %}
    {{page_obj.number|add:-1|mul:page_amount|add:forloop.counter}}
    {{player.summonerName}}
    {{player.leaguePoints}}
    wins:{{player.wins}} / loses: {{player.losses}}
    <br>
{% endfor %} 
{% comment %} esto fue copiado de la documentacion {% endcomment %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
