main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    padding: 2rem ;
}
h1{
    padding-bottom: 1rem;
}

.account_settings_form{
    width: fit-content;
    padding: 20px 0 0 20px;
    text-align: start;
}
.img{
    width: 5rem;     
}
.account_setting_image{
    width: 100%;
    display: flex;
    justify-content: center;
}
    .account_setting_image>img{
        width: 10rem;
        border-radius: 50%;
    }
.img-form{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.form-data{
    padding-top: 1rem;
}
    .account_settings_form input{
        width: 15rem;
        margin-left: 1rem;
        padding-left: 5px;
        background-color: rgba(255, 255, 255, 0.111);
        border: 0px;
        color: var(--headings-color); 
    } 
    .account_settings_form label{
        color: var(--headings-color); 
    }

    .sumbit{
        width: 7rem !important;
        border-radius: 10px;
        margin-left: 0 !important;
        margin-top: 1rem;
        padding: 5px;
        background-color: var(--link-colorh2) !important;
    }