.account_settings{
    display: flex;
    margin: 0 auto;
    width: 40em;
    background-color: var(--background-divs);
    text-align: center;
    padding: 2rem ;
}
.account_setting_image{
    width: 40rem;
}
.account_setting_image>img{
    width: 20rem;
    float: right;
    border-radius: 50%;
}
.account_settings_form{
    width: 60rem;
    padding: 20px 0 0 20px;
}

.account_settings_form input{
    background-color: rgba(255, 255, 255, 0.111);
    border: 0px;
    color: var(--headings-color);
} 
.account_settings_form input[type="submit"]{
    margin-top: 1rem;
    padding: 10px;
    background-color: var(--link-color);
}