:root{
    --header-color: #421092;
    --typography-headings:'Montserrat';
    --typography-texts: 'Lato';
    --background-color: #1D0642;
    --background-divs:#140034;
    --background-divs2:#0c011f;
    --background-inputs: #000;
    --headings-color: #FFF;
    --text-color: #F1C5E4;
    --link-colorh2:#E24795;
    --text-error: red;
    --text-size: 20px;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:var(--background-color) ;
}
main{
    margin: 0 auto;
    font-family: var(--typography-texts);
    color: var(--text-color);
    font-size: var(--text-size);
    min-height: calc(60vh - 3.4rem);
}

h1,h2,h3,h4,h5, input[type="submit"]{
    font-family: var(--typography-headings);
    color: var(--headings-color);
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: var(--link-color);
}
header, header a:link, header a:visited, header a:active {
   width: 100%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 20px;
   color: var(--headings-color);
}
header>ul{
    list-style:none;
}
header>ul>li{
    display: inline-block;
    text-align: center;
    background-color: var(--header-color);
    padding: 20px;
}
header>ul>li>a{
    color: white;
    padding: 20px;
}
footer{
    background-color: var(--background-inputs);
    margin-top: 1rem;
}
.footer-container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 0.2rem;
}