:root{
    --header-color: #421092;
    --typography-headings:'Montserrat';
    --typography-texts: 'Lato';
    --background-color: #1D0642;
    --background-divs:#140034;
    --background-divs2:#0c011f;
    --background-inputs: #000;
    --headings-color: #FFF;
    --text-color: #F1C5E4;
    --link-colorh2:#E24795;
    --text-error: red;
    --text-size: 20px;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:var(--background-color) ;
}
main{
    margin: 0 auto;
    font-family: var(--typography-texts);
    background-color: var(--background-divs);
    color: var(--text-color);
    font-size: var(--text-size);
    min-height: calc(60vh - 3.4rem);
    border-radius: 10px;
}
header{
    padding-bottom: 1rem;
}
h1,h2,h3,h4,h5, input[type="submit"]{
    font-family: var(--typography-headings);
    color: var(--headings-color);
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: var(--link-color);
}
.nav, .nav a:link, .nav a:visited, .nav a:active {
   text-align: center;
   color: var(--headings-color);
}
.nav a:hover{
    color: var(--link-colorh2);
}
.nav{
    height: 5rem;
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    gap: 0.2rem;
}
.nav>div{
    padding-top: 0.5rem;
    background-color: var(--header-color);
}
.nav-fields{
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2%;
    font-size: 2.5vmin;
}
.logo-menu{
    width: 12rem;
}
.profile-menu{
    padding-top: 0.5rem;
    width: 2.5rem;
}
footer{
    background-color: var(--header-color) !important;
    margin-top: 1rem;
    color: var(--headings-color);
    position: relative;
    bottom: 0;
}
.footer-container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 0.2rem;
}

/* Loader de carga */
.loader {
    margin: 0 auto;
    width: 100%;
    height: 50rem;
    background-color: var(--background-color);
    position: relative;
    text-align: center;
    padding: 20rem;

  }
  
  .loader-text {
    text-align: center;
    color: #C8B6FF;
    animation: text_713 3.5s ease both infinite;
    font-size:5rem;
    letter-spacing: 1px;
  }
  
  @media screen {
    
  }