main{
    width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container-form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 1rem;
}
.content-input{
    width: 100%;
    height: 10rem;
    overflow: scroll;
    overflow-x: hidden;
}
.content-input::-webkit-scrollbar {
    width: 1rem;
}
.content-input::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.content-input::-webkit-scrollbar-thumb {
    background: var(--link-colorh2); 
    border-radius: 10px;
}
.content-input::-webkit-scrollbar-thumb:hover {
    background-color: var(--header-color);
}

.form-check-inline>input{
    background-color: black;
}
.form-check-inline>input:checked{
    background-color: purple;
    border-color: palevioletred;
}
.container-item{
    background-color:  var(--background-divs2);
    padding: 0.5rem;
    border-radius: 10px;
}
.container-item >label{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.form-check-inline{
    padding: 0.2rem;
    background-color: #6b3d5dac;
    margin-bottom: 0.4rem;
    border-radius: 5px;
    
}
.form-check-inline img{
    opacity: 1;
}
.submit{
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--link-colorh2);
}

.text{
    background-color: rgba(255, 255, 255, 0.111);
    border: 0px;
    color: var(--headings-color);
    margin-left: 0.1rem;
}

.errors{
    padding: 0 2rem 1rem 2rem;
    margin: 0 auto;
    text-align: center;
    color: var(--text-error);
}
