main{
    width: 80%;
    padding: 3rem;
}
.item-adjust{
    width: 4rem;
    height: 4rem;
    padding: 0.5px;
}

.champion-profile, .champion-habilities,.champion-items{
    display: flex;
}
.champion-title{
    padding-left: 10px;
}

.normal-items, .aram-items{
    padding:1rem;
}

.champion-chart{
    margin: 0 auto;
    width: 80%;
    height: 15rem;
}

.canvasjs-chart-container{
    background-color: var(--background-divs2) !important;
    color:  var(--background-divs2) !important;
}
.canvasjs-chart-credit{
    display: none !important;
}
.button-post>a{
    padding: 10px;
    background-color: var(--background-color) ;
}
