.champion{
    margin: 0 auto;
    width: 80%;
    background-color: var(--background-divs);
    padding: 3rem;
}
.champion-profile{
    width: 100%;
    display: flex;
    gap:10px;
    background-color: red;
    
}
.champion-habilities{
    width: 100%;
    justify-content: center;
    background-color: blue;
}
.champion-items{
    background-color: palegreen;
}
.canvasjs-chart-credit{
    
    display: hidden !important;
}
.button-post>a{
    padding: 10px;
    background-color: var(--background-color) ;
}