
main{
    width: 80%;
    margin: 0 auto;
}

.user_hello{
    text-align: center;
    font-weight: bold;
    padding-top: 0.5 rem;
}

.search_champion{
    display: flex;
    justify-content:end ;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    height: 5rem;
    padding: 1rem;
}
.search_champion>input{
    width: calc(85% - 3rem);
    border-radius: 20px;
    padding: 0.5rem;
    background-color: var(--background-divs2);
    color: var(--headings-color);
    border-color: var(--link-colorh2);
}
.search_champion>input:focus{
    border-color: var(--link-colorh2);
    outline: none !important;
    box-shadow: none;
}

.content{
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 15% 85%;
}

.title-users{
    border-bottom: 1px solid var(--headings-color);
}
.users_list{
    padding: 1rem;
    margin-left: 1rem;
    background-color: var(--background-divs2);
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}
.users{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    
}
.users>img, .users>a>img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.list_champions{
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

