.user_hello{
    text-align: center;
}

main{
    width: 80%;
    margin: 0 auto;
}

.search_champion{
    display: flex;
    justify-content:start ;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    height: 5rem;
    background-color: var(--background-divs);
    padding: 1rem;
}
.search_champion>input{
    padding: 0.5rem;
}
.content{
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% 80%;
    background-color: var(--background-divs);
}
.users_list{
    /* width: 11rem; */
    padding: 0 1rem;
}
.users{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    /*
    width: 100%;
    height: 80%; */
}
.users>img{
    width: 2.5rem;
    height: 2.5rem;
}
.list_champions{
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    /* width: 85rem; */
}

