.user_hello{
    text-align: center;
}

main{
    width: 80%;
    margin: 0 auto;
}

.search_champion{
    display: flex;
    justify-content:center ;
    width: 100%;
    margin: 0 auto;
    height: 3rem;
    background-color: var(--background-divs);
    padding: 10px 0 0 0;
}
.search_champion > input{
    width: 70% ;
}
.search_champion >a{
    width: 20%;
}

.content{
    margin: 0 auto;
    display: flex;
    background-color: var(--background-divs);
    padding: 10px;
}
.users_list{
    width: 11rem;
    padding: 1rem;
}
.users{
    display: flex;
    gap: 0.5rem;
}

.list_champions{
    width: 85rem;
}

