h1{
    padding-bottom: 2rem;
}
.user_data, .errors{
    margin: 0 auto;
    width: 40rem;
    background-color: var(--background-divs);
    text-align: center;
    padding: 2rem ;
}

.errors{
    color: var(--text-error);
}

.user_data input{
    background-color: rgba(255, 255, 255, 0.111);
    border: 0px;
    color: var(--headings-color);
}

.user_data input[type="submit"]{
    padding: 10px;
    background-color: var(--link-colorh2);
}
input[type="text"], input[type="password"], input[type="email"]{
    padding: 0.5rem;
}
#remember-me{
    width: 2rem;
}
.form-login, .form-register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap:1rem;
}

.container-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    min-width: 60%;
}
.form-register>.container-input{
    min-width: 80%;
}