.user_admin{
    width: 80%;
    margin: 0 auto;
    background-color: var(--background-divs);
    text-align: center;
    padding: 2rem ;
}

.data_user{
    width: 100%;
    margin: 0 auto;
}

.data_user>img{
    width: 20rem;
    
    border-radius: 50%;
}