main{
    width: 30%;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    align-content: center;
}

.form_password input{
    background-color: rgba(255, 255, 255, 0.111);
    border: 0px;
    color: var(--headings-color);
}

.form_password input[type="submit"]{
    border-radius: 10px !important;
    margin-top: 1rem !important;
    padding: 10px !important;
    background-color: var(--link-colorh2) !important;
}

.img{
    width: 20rem;
    height: 19rem;
}

.color-text{
    color: var(--headings-color);
    text-align: justify;
    padding: 1rem;
}