.form_password{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--background-divs);
    padding: 10px;
}

.form_password input{
    background-color: rgba(255, 255, 255, 0.111);
    border: 0px;
    color: var(--headings-color);
}

.form_password input[type="submit"]{
    margin-top: 1rem;
    padding: 10px;
    background-color: var(--link-color);
}